<h1>My tasks</h1>
<br>
<div class="tasks">
  <% @tasks.each do |task| %>
    <div class="inline">

    <div class="completed">
      <% if task.completed == true %>
      <i class="fas fa-check-circle"></i>
      <% else %>
      <i class="far fa-check-circle"></i>
      <% end %>
    </div>
    <h3><%= link_to task.title, task_path(task) %><h3>

    <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
    </div>
  <% end %>
</div>
<br>

<%= link_to tasks_new_path do %>
<div class="inline backlist"><i class="far fa-plus-square "></i><p>Add a new task</p></div>
<% end %>

